#trending_section {
    padding: 0 6.4%;
    width: 100%;
    height: 640px;
    background-color: #F3F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
    margin-top: 67px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    }
    #trending_sub {
        text-align: center;
        font-size: 18px;
    }
    #cont_slider {
        margin-top: 53px;
        width: 100%;
        height: 42.1%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        #cont_trending_cards {
            width: inherit;
            height: auto;
            display: inherit;
            justify-content: space-evenly;
            .trending_card   {
                width: 357px;
                height: 275px;
                position: relative;
                .card_img {
                    width:inherit;
                    height: inherit;
                }
                .hover_info {
                    top: 0;
                    width:inherit;
                    height: inherit;
                    position: absolute;
                    opacity: 0.6;
                    background: #572EE5;
                    color: white;
                    display: none;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    h3, h4 {
                        margin-left: 5px;
                    }
                    h3 {
                        margin-bottom: 7px;
                    }
                }
            }
        }
        .btn_slider {
            width: 40px;
            height: 40px;
            background-color: #F3F5F8;
            border: 1px solid #572ee5;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        .btn_slider:hover {
            background-color: #572ee5;
        }
        #btn_left_slider {
            background-image: url(/images/button-left.svg);
        }
        #btn_left_slider:hover {
            background-image: url(../images/button-left-hover.svg);
        }
        #btn_right_slider {
            background-image: url(/images/button-right.svg);
        }
        #btn_right_slider:hover {
            background-image: url(../images/button-right-hover.svg);
        }
    }
}

body.dark {
    #trending_section {
        background-color: #222326;
        h2, #trending_sub {
            color: white;
        }
        #cont_slider {
            .btn_slider {
                background-color: #222326;
                border: 1px solid white;
            }
            #btn_left_slider {
                background-image: url(/images/button-left-hover.svg);
            }
            #btn_left_slider:hover {
                background-image: url(../images/button-left-noc.svg);
                background-color: white;
            }
            #btn_right_slider {
                background-image: url(/images/button-right-hover.svg);
            }
            #btn_right_slider:hover {
                background-image: url(../images/button-right-noc.svg);
                background-color: white;
            }
        }
    }
}